<!DOCTYPE html>
<html lang="zh-CN">

<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>数位之舟 - 用数据分析赋能网页</title>
  <link rel="stylesheet" href="{{ url_for('static', filename='css/main.css') }}">
  <link rel="icon" type="image/x-icon" href="{{ url_for('static', filename='/img/icon.webp') }}">
  <link rel="apple-touch-icon" href="{{ url_for('static', filename='/img/icon.webp') }}">
  <meta name="apple-mobile-web-app-title" content="Digits">
  <link rel="bookmark" href="{{ url_for('static', filename='/img/icon.webp') }}">
  <link rel="apple-touch-icon-precomposed" sizes="180x180" href="{{ url_for('static', filename='/img/icon.webp') }}">
  <meta name="description" content="做更好的数据分析">
  <meta name="theme-color" content="#1C1C1F">
  
</head>

<body id="body">
  <div class="nav">
    <div class="nav-content">
      <div class="nav-left">
        <a href="/" class="site-logo">
          <img src="{{ url_for('static', filename='/img/icon.webp') }}" alt="logo" class="site-logo-img">
          <span class="site-name">Digits</span>
        </a>
      </div>
    </div>
  </div>
 
  

  <div class="first-stack need-padding">
    <div class="left-Introduce">
      <div class="title-group">
        <span class="title">WEBSITE REPORT</span>
        <span class="title">DATA ANALYSIS</span></span>
      </div>
      <div class="discription">
        <span class="discription-text">分析网站用户使用<span class="inline-word">数据，</span><br>为开发者提供最好的用户<span class="inline-word">体验报告。</span></span>
      </div>
      <div class="first-stack-links">
        <form id="uploadForm" enctype="multipart/form-data">
            <input type="file" id="jsonFile" style="display: none;" 
                onchange="handleFileSelect(event)" multiple>
                <a class="about-button" onclick="jmpreport()">上传json文件</a>
        </form>
        
        
        
      </div>
      
    </div>
    <img class="banner-img" src="{{ url_for('static', filename='/img/封面2.webp') }}" alt="banner" title="banner">
    
  </div>

  <div class="avatar-discription">
    <span class="avatar-discription-text">“我们提供对用户对网页使用过程中产生的数据进行分析，从用户的点击、
      输入、刷新、滚动数据等，对网站进行打分，分析用户的产品体验，并预测用户使用过程中可能出现的问题，包括找不到删除功能
      ，收不到验证码等。我们将为您提供完整的网页用户体验报告。”</span>
    <img class="avatar-image" src="{{ url_for('static', filename='./img/avatar.jpg') }}" >
    <span class="avatar-name">数位之舟</span>
    <span class="avatar-title">算法分析、网页开发团队</span>
  </div>


  <!-- <a class="info" href="https://github.com/zhheo/HeoWeb" target="_blank">主题：HeoWeb</a> -->
</body>


<script>
  function jmpreport() {
    document.getElementById('jsonFile').click();
  }
  function handleFileSelect(event) {
    var files = event.target.files;
    if (!files) {
      alert('没有选择文件');
      return;
    }
    var fromData = new FormData();
    
    for(var i = 0; i < files.length; i++) {
      fromData.append('file', files[i]);
      //alert(fromData.get('file'));
    }
    //alert('选择了' + files.length + '个文件');
    
    var xhr = new XMLHttpRequest();
    xhr.open('POST', '/upload_json', true);
    // xhr.setRequestHeader('Content-Type', 'application/json');
    xhr.send(fromData);
    // 添加请求完成的监听器
    xhr.onreadystatechange = function() {
        if (xhr.readyState === XMLHttpRequest.DONE) {
            if (xhr.status === 200) {
                // 请求成功，展示成功消息
                //alert('POST 请求成功');
                window.location.href = 'report';
            } else {
                // 请求失败，展示错误消息
                alert('POST 请求失败');
            }
        }
    };
    

   
  }
</script>

</html>