<!DOCTYPE html>
<html lang="zh-CN">

<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>数位之舟 - 用数据分析赋能网页</title>
  <link rel="stylesheet" href="{{ url_for('static', filename='css/main.css') }}">
  <link rel="icon" type="image/x-icon" href="{{ url_for('static', filename='/img/icon.webp') }}">
  <link rel="apple-touch-icon" href="{{ url_for('static', filename='/img/icon.webp') }}">
  <meta name="apple-mobile-web-app-title" content="Digits">
  <link rel="bookmark" href="{{ url_for('static', filename='/img/icon.webp') }}">
  <link rel="apple-touch-icon-precomposed" sizes="180x180" href="{{ url_for('static', filename='/img/icon.webp') }}">
  <meta name="description" content="做更好的数据分析">
  <meta name="theme-color" content="#1C1C1F">
  <!-- 引入 echarts.js -->
  <script src="https://cdn.staticfile.net/echarts/4.3.0/echarts.min.js"></script>
  <script>
    var data1 = {{ data_list|tojson | safe }};
  </script>
  <!-- <link rel="stylesheet" href="https://cdn3.codesign.qq.com/icons/X2bzpZvRWkZkAaV/latest/iconfont.css">
  <script src="https://lf9-cdn-tos.bytecdntp.com/cdn/expire-1-M/jquery/3.6.0/jquery.min.js"></script> -->
</head>

<body id="body">
  <div class="nav">
    <div class="nav-content">
      <div class="nav-left">
        <a href="/" class="site-logo">
          <img src="{{ url_for('static', filename='/img/icon.webp') }}" alt="logo" class="site-logo-img">
          <span class="site-name">Digits</span>
        </a>
      </div>
      <div class="nav-center">
        <a href="/" class="nav-item">回到首页</a>
      </div>
    </div>
  </div>
  

  
    <div class="report-head" style="width: 1400px; height: 1000px; display: table; ">
      <div class="content" 
        style="display: block; position:relative;  top:70px; float:right; width: 70%; ">
        <span class="discription-text">用户出现的问题统计：</span><br>
        <span class="discription-text" style="font-size: 22px; color: rgb(0, 0, 0); font-weight:140;
        line-height:32px; letter-spacing:0px; font-family: 'STKaiti', sans-serif; ">{{ problem_analysis|safe }}</span>
        <div id="main" style="width: 600px;height:400px;"></div>
          <script type="text/javascript">
          // 基于准备好的dom，初始化echarts实例
          var myChart = echarts.init(document.getElementById('main'));
          myChart.setOption({
            series : [
                {
                    name: '访问来源',
                    type: 'pie',    // 设置图表类型为饼图
                    radius: '55%',  // 饼图的半径，外半径为可视区尺寸（容器高宽中较小一项）的 55% 长度。
                    data: data1
                    // data:[          // 数据数组，name 为数据项名称，value 为数据项值
                    //     {value:235, name:'视频广告'},
                    //     {value:274, name:'联盟广告'},
                    //   ]
                  }
              ]
          })
      </script>
        <span class="discription-text">开发者建议：</span><br>
        <span class="discription-text" style="font-size: 22px; color: rgb(0, 0, 0); font-weight:120;
        line-height:32px; letter-spacing:0px; font-family: 'STKaiti', sans-serif; ">{{ suggestion|safe }}</span>
        
      </div>
      <div class="left-Introduce" 
        style="display: block; position:relative; top: 70px; width: 30%; ">
        <div class="title-group" style="display: block; position: relative;; top: 0px; left: 0px; ">
          <span class="title" style="font-size: 30px;">WEBSITE REPORT</span>
        </div>
        <div class="discription" style="display: block; ">
          <span class="discription-text">网站评分：<br><br><br><span class="inline-word" style="font-size: 70px;">{{ score }}</span></span>
        </div>
        <div class="first-stack-links" style="display: block; ">
          <a href='/download' class="about-button" target="_blank">下载报告</a>
        </div>

      </div>  
        
    </div>

    
    
  </div>


</body>
</html>